services -S http -R
use auxiliary/scanner/http/apache_optionsbleed
run
use auxiliary/scanner/http/apache_mod_cgi_bash_env
run
use auxiliary/scanner/http/robots_txt
run
use auxiliary/scanner/ssl/openssl_heartbleed
run
use auxiliary/scanner/http/ssl
run
use auxiliary/scanner/http/ssl_version
run
use auxiliary/scanner/http/web_vulndb
run
use auxiliary/scanner/http/dir_scanner
run
use auxiliary/scanner/http/webdav_scanner
run
use auxiliary/scanner/http/webdav_website_content
run
use auxiliary/scanner/http/ms15_034_http_sys_memory_dump
run
use auxiliary/scanner/http/ms09_020_webdav_unicode_bypass
run
use auxiliary/scanner/http/ntlm_info_enumeration
run
use auxiliary/scanner/http/open_proxy
run
use auxiliary/scanner/http/error_sql_injection
run
use auxiliary/scanner/http/files_dir
run
use auxiliary/scanner/http/crawler
run
use auxiliary/scanner/http/cert
run
use auxiliary/scanner/http/dir_listing
run
use auxiliary/scanner/http/options
run
use auxiliary/scanner/http/http_put
run
use auxiliary/scanner/http/http_traversal
run
use auxiliary/scanner/http/iis_internal_ip
run
use auxiliary/scanner/http/http_header
run

