use auxiliary/admin/http/jboss_bshdeployer
run
use auxiliary/admin/http/jboss_deploymentfilerepository
run
use auxiliary/admin/http/jboss_seam_exec
run
use auxiliary/scanner/http/jboss_status
run
use auxiliary/scanner/http/jboss_vulnscan
run
