use auxiliary/admin/http/joomla_registration_privesc
run
use auxiliary/gather/joomla_com_realestatemanager_sqli
run
use auxiliary/gather/joomla_contenthistory_sqli
run
use auxiliary/gather/joomla_weblinks_sqli
run
use auxiliary/scanner/http/joomla_bruteforce_login
run
use auxiliary/scanner/http/joomla_ecommercewd_sqli_scanner
run
use auxiliary/scanner/http/joomla_gallerywd_sqli_scanner
run
use auxiliary/scanner/http/joomla_pages
run
use auxiliary/scanner/http/joomla_plugins
run
use auxiliary/scanner/http/joomla_version
run
