services -S ssh -R
use auxiliary/scanner/ssh/ssh_enumusers
run
use auxiliary/scanner/ssh/ssh_identify_pubkeys
run
use auxiliary/scanner/ssh/ssh_login
run
use auxiliary/scanner/ssh/ssh_login_pubkey
run
use auxiliary/scanner/ssh/ssh_version
run
use auxiliary/scanner/ssh/apache_karaf_command_execution
run
use auxiliary/scanner/ssh/detect_kippo
run
use auxiliary/scanner/ssh/fortinet_backdoor
run
use auxiliary/scanner/ssh/juniper_backdoor
run
