use auxiliary/scanner/http/wordpress_content_injection
run
use auxiliary/scanner/http/wordpress_cp_calendar_sqli
run
use auxiliary/scanner/http/wordpress_ghost_scanner
run
use auxiliary/scanner/http/wordpress_login_enum
run
use auxiliary/scanner/http/wordpress_multicall_creds
run
use auxiliary/scanner/http/wordpress_pingback_access
run
use auxiliary/scanner/http/wordpress_scanner
run
use auxiliary/scanner/http/wordpress_xmlrpc_login
run
use auxiliary/scanner/http/wp_contus_video_gallery_sqli
run
use auxiliary/scanner/http/wp_dukapress_file_read
run
use auxiliary/scanner/http/wp_gimedia_library_file_read
run
use auxiliary/scanner/http/wp_mobile_pack_info_disclosure
run
use auxiliary/scanner/http/wp_mobileedition_file_read
run
use auxiliary/scanner/http/wp_nextgen_galley_file_read
run
use auxiliary/scanner/http/wp_simple_backup_file_read
run
use auxiliary/scanner/http/wp_subscribe_comments_file_read
run
